.view {
  background: url("../assets/website-bg.jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}
@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
  }
}
.navbar {
  z-index: 1;
}
.navbar {
  background-color: rgba(201, 201, 201, 0.5) !important;
}
.top-nav-collapse {
  background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}
